/* Wrap describe in RD files -------------------------------------------------- */

.dl-horizontal dt {
  float: none;
  text-align: left;
  margin-left: 1%;
  width: 100%;
  white-space: normal;
}

.dl-horizontal dd {
  margin-left: 5%;
}